<div *ngIf="loaded" class="row">
  <div class="col-xs-12">
    <form [formGroup]="configurationForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!configurationForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
          <button type="button" class="btn btn-danger" >Delete</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              type="text"
              id="imagePath"
              formControlName="imagePath"
              class="form-control"
              #imagePath>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              id="description"
              class="form-control"
              formControlName="description"
              rows="6"></textarea>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12" formArrayName="components">
          <div
            class="row"
            *ngFor="let component of configurationForm.get('components')['controls']; let i = index"
            [formGroupName]="i"
            style="margin-top: 10px;">
           
            <div class="col-xs-10">
              <label>{{componentLabels[i]}}</label>
              <select formControlName="option">

                <ng-container *ngFor="let option of componentOptions">
                  
              <option *ngIf="option.type==i" 
              [selected]="option.id == component.id" [value]="option.id"  >
                {{option.name}} 
              </option>
              </ng-container>
            </select>
            <div class="form-group">
              <label for="amount">Amount</label>
              <input
                type="number"
                id="amount"
                formControlName="amount"
                class="form-control">
            </div>
            </div>
        </div>
      </div>
      </div>
    </form>
  </div>
</div>
