<div class="row">
    <div class="col-xs-12">
      <img 
      [src]="piece?.imagePath" 
      alt="{{ piece?.name }}" 
      class="img-responsive"
      style="max-height: 300px;">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ piece?.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div 
      class="btn-group"
      appDropdown>
        <button
          type="button"
          class="btn btn-primary dropdown-toggle">
          Manage Component <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          
          <li><a style="cursor: pointer;" (click)="onEditPiece()">Edit Component</a></li>
          <li><a style="cursor: pointer;" (click)="onDeletePiece()" >Delete Component</a></li>
        </ul>
      </div>
    </div>
  </div>
 

  <h4 class="list-group-item-text">Name</h4>
  <a
  style="cursor: pointer;"
  [routerLink]="[piece.id]"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ piece.name }}</h4>
    
  </div>
 
</a>

  <h4 class="list-group-item-text">Brand</h4>
  <a
  style="cursor: pointer;"
  [routerLink]="[piece.id]"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ piece.brand }}</h4>
    
  </div>
 
</a>
<h4 class="list-group-item-text">Description</h4>
  <a
  style="cursor: pointer;"
  [routerLink]="[piece.id]"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ piece.description }}</h4>
  
  </div>
 
</a>
<h4 class="list-group-item-text">Price</h4>
  <a
  style="cursor: pointer;"
  [routerLink]="[piece.id]"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ piece.price }} EURO</h4>
   
  </div>
 
</a>
<h4 class="list-group-item-text">Amount</h4>
  <a
  style="cursor: pointer;"
  [routerLink]="[piece.id]"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ piece.amount }}  Pieces</h4>
   
  </div>
 
</a>
 
  
 
  
  