<div class="row">
    <div class="col-xs-12">
      <img 
      [src]="configuration?.imagePath" 
      alt="{{ configuration?.name }}" 
      class="img-responsive"
      style="max-height: 300px;">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ configuration?.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div 
      class="btn-group"
      appDropdown>
        <button
          type="button"
          class="btn btn-primary dropdown-toggle">
          Manage Configuration <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>
          <li><a style="cursor: pointer;" (click)="onEditConfiguration()">Edit Configuration</a></li>
          <li><a style="cursor: pointer;" (click)="onDeleteConfiguration()" >Delete Configuration</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{ configuration?.description }}
    </div>
  </div>
 
  <!-- <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li
          class="list-group-item"
          <!- *ngFor="let piece of configuration.pieces"> -->
          <!-- {{ piece.name }} - {{ piece.amount }}
        </li>
      </ul>
    </div>
  </div> --> 
  